<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body style="background-color: #d1d1d1;">
    {% load static %}
    <h1>canvas</h1>
    <div id="mousePosition"></div>
    <div id="game-container" style="height: 400px; width: 100%;">
        <canvas id="game" style="background-color: #979797; cursor: none;"></canvas>
    </div>

    <h1>chat</h1>
    <p id="user"></p>
    <p id="color"></p>
    <form id = "form">
        <input type="text" name="message">
    </form>

    <div id="messages">

    </div>
    <script src="{% static 'js/canvas/events.js' %}"></script>
    <script src="{% static 'js/canvas/listeners.js' %}"></script>
</body>
</html>